/* css reset */
body {
  margin: 0;
}

/* General Styles */
.container {
  width: 1170px;
  margin: 0 auto;
  background-color: rgba(0, 0, 255, 0.115);
}
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins Bold", sans-serif;
    color: rgb(71, 71, 71);
}

i{
    color: rgb(71, 71, 71);
}

/* Header Start */
#header {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.08);
}
#nav {
  display: inline-block;
}
#nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav > ul > li {
  display: inline-block;
}
#nav a {
  color: rgb(46, 46, 46);
  text-decoration: none;
}


/* CallNow START */
#callNow{
    display: inline-block;
}

#callNow div{
    display: inline-block;
    vertical-align: middle;
}

#callNow i{
    background-color: #ffd201;
    line-height: 0;
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    border-radius: 50px;
    font-size:28px
}

#callNow span{
    display: block;
}

#callNow span:first-of-type{
    font-size:16px
}

#callNow span:last-of-type{
    font-size:20px;
    font-weight: 900;
}