/* css reset */
body{
    margin:0;
}

/* General Styles */
.container{
    width: 1170px;
    margin:0 auto;
}


/* Header Start */
#header{
    width: 100%;
}
#nav{
    display: inline-block;
}
#nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav > ul > li{
    display: inline-block;
}
#nav a{
    color:black;
    text-decoration: none;
    font-family: arial;
}