#babaFlex {
  background-color: rgb(225, 225, 225);
  border: 1px solid gray;
  width: 700px;
  height: 400px;

  /* New */
  direction: ltr;
  /* overflow:hidden; */
  /* New */

  margin: 10% auto;
  border-radius: 10px;
  padding: 10px;

  /* Flex (New) */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: end; /* jolo aghab raftan otobos */
  align-items: initial; /* bepar bepare otobos */

  /* Flex */
}
.jojeFlex {
  background-color: rgb(120, 165, 110);
  width: 70px;
  /* height: 70px; */
  font-family: arial;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
